body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #343b68;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-gap: 1em;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea,
button {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #343b68;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4f64a7;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
}

a {
    color: #343b68;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}